@page "/logout"
@using GameMovieStore.Contracts.Services
@inject IAuthService AuthService
@inject NavigationManager Navigation

<PageTitle>LogOut</PageTitle>

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/login");
    }
}