<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData"
                   DefaultLayout="typeof(GameMovieStore.Components.Layout.MainLayout)" />
    </Found>
    <NotFound>
        <h3 class="p-4">Page not found</h3>
    </NotFound>
</Router>